<p id="notice"><%= notice %></p>

<h1>Owners</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path %>
<h2>House Overview</h2>
 <%= link_to "Create New House", new_owner_path %>

<div class="bannerbox">



   <% @owners.each do |h| %>
     <div class="banners">
      <h3><a href="/owners/<%= h.id %>"><%= h.name %></a></h3>
     <%= image_tag h.owner_img %>
     </div>
   <% end %>



</div>
