<%= link_to "Back To All Owners", owners_path %>
 <h2><%= @owner.name %></h2>



<h3><%= @owner.dog_name %></h3>
 <h3>Neighborhood:<%= @owner.neighborhood %></h3>
<h3> <% @owner.dogs.each do |h| %>
  <li>Pet:<a href="<%= owner_dog_path("#{h.owner_id}", "#{h.id}") %>"><%= h.name %></a></li>
<% end %></h3>

<h3><% @owner.events.each do |h| %>
  <li>Events:<a href="<%= owner_event_path(@owner, h) %>"><%= h.name %></a></li>
<% end %></h3>

 <img src="<%= @owner.owner_img %>"width="460" height="345">
 <h3>Make Some Updates!</h3>
 <li><%= link_to "Add New Dog", new_owner_dog_path(@owner) %></li>
 <li><%= link_to "Edit/Remove Profile", edit_owner_path(@owner) %></li>
<li><%= link_to "Add New Event", new_owner_event_path(@owner) %></li>
