<%= link_to "Back To All Owners", owners_path %>
 <h2><%= @owner.name %></h2>
 <h5><%= @owner.dog_name %></h5>
 <%= link_to "Edit/Remove", edit_owner_path(@owner) %>

 <p><%= @owner.name %></p>
 <p><%= @owner.neighborhood %></p>

 <img src="<%= @owner.owner_img %>">

 <h3>Members</h3>
 <%= link_to "Add New Dog", new_owner_dog_path(@owner) %>
 <li>
   <% @owner.dogs.each do |h| %>
     <li><a href="<%= owner_dog_path("#{h.owner_id}", "#{h.id}") %>"><%= h.name %></a></li>
   <% end %>
 </li>
 <li>
   <% @owner.events.each do |h| %>
     <li><a href="<%= owner_event_path(@owner, h) %>"><%= h.name %></a></li>
   <% end %>
 </li>
