<h2>Dog Overview</h2>
 <%= link_to "Create New Dog", new_owner_dog_path %>
 <img src="<%= @dog.dog_img %>">

<div class="bannerbox">



   <% @owners.each do |h| %>
     <div class="banners">
      <h3><a href="/dogs/<%= h.id %>"><%= h.name %></a></h3>
     <img src="<%= h.banner_img %>"/>
     </div>
   <% end %>



</div>
