<h2> <%= @owner.name %> grows... </h2>

 <%= link_to "Back To Dogs", owner_path(@owner) %>

 <%= form_for [@owner, @dog] do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <br>
   <%= f.label :breed %>
   <%= f.text_field :breed %>
   <br>
   <%= f.label :likes_dogs %>
   <%= f.text_field :likes_dogs %>
   <br>
   <%= f.label :dog_img %>
   <%= f.text_field :dog_img %>
   <br>

   <br>
   <%= f.submit "Welcome to the Family" %>
   <% end %>
