<h2> <%= @owner.name %> grows... </h2>

 <%= link_to "Back To Dogs", owner_path(@owner) %>

 <%= form_for [@owner, @event] do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <br>
   <%= f.label :location %>
   <%= f.text_field :location %>
   <br>
   <%= f.label :event_img %>
   <%= f.text_field :event_img %>
   <br>

   <br>
   <%= f.submit "Make and Event!" %>
   <% end %>
