<h2> <%= @event.name %> </h2>
<h5><%= @event.quote %></h5>
<%= link_to "Back to #{@dog.owner.name}", owner_path(@event.owner_id) %>
<p><%= @event.title %></p>

<%= link_to "Edit/Delete", edit_owner_event_path(@event.owner_id, @event) %>
